@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Noto Sans SC', 'PingFang SC', 'Microsoft YaHei', sans-serif;

  --color-blue-50: #ecf5ff;
  --color-blue-100: #d8ebff;
  --color-blue-200: #b9dcff;
  --color-blue-300: #8ac8ff;
  --color-blue-400: #53acff;
  --color-blue-500: #2d8eff;
  --color-blue-600: #1571f5;
  --color-blue-700: #0f58e1;
  --color-blue-800: #1447b6;
  --color-blue-900: #173f8f;
  --color-blue-950: #132654;
}
